<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>User Information and Form</title>
	
	<!--JQUERY-->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script 
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script 
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
	<!-- Los iconos tipo Solid de Fontawesome-->
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
	<!-- Nuestro css-->
	<link rel="stylesheet" type="text/css" href="static/css/user-form.css"
		th:href="@{/css/user-form.css}">
	<!-- DATA TABLE -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

	<script type="text/javascript">
	    $(document).ready(function() {
	        //Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
	        $('#userList').DataTable();
	    } );
	</script>
</head>
<body>
	<div class="container">
	<div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
		<ul class="nav nav-tabs justify-content-end">
			<li class="nav-item">
			<a class="nav-link active" id="list-tab" data-toggle="tab" href="#create" role="tab" aria-controls="list" aria-selected="false">Create</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" id="form-tab" data-toggle="tab" href="#modify" role="tab" aria-controls="form" aria-selected="true">Modify</a>				   	
            </li>
            <li class="nav-item">
            <a class="nav-link" id="form-tab" data-toggle="tab" href="#delete" role="tab" aria-controls="form" aria-selected="true">Delete</a>				   	
            </li>
            <li class="nav-item">
            <a class="nav-link" id="form-tab" data-toggle="tab" href="#consult" role="tab" aria-controls="form" aria-selected="true">Consult</a>				   	
            </li>
            <li class="button">
            <a href="../manager/manager.html">Back</a>
            </li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="create" role="tabpanel" aria-labelledby="list-tab">
                <label>Enter the clint information:</label>
                <form action="manager/clients.html" method="POST">
                        Client ID: <br>
                        <input type="text" name="clientIdInput"><br>
                        First Name: <br>
                        <input type="text" name="clientFirstNameInput"><br>
                        Last Name: <br>
                        <input type="text" name="clientLastNameInput"><br>
                        Birth Date: <br>
                        <input type="date" id="birthDateInputId" name="birthDateInput"> <br>
                        Nationality: <br>
                        <input type="text" name="clientNationalityInput"><br>
                        Country: <br><br>
                        <select id="countryCreate" name ="countryCreate"></select> </br></br>
                        State: <br><br>
                        <select name ="stateCreate" id ="stateCreate"></select>  </br> </br>
                        <script src="./tools/countriesStates.js"></script>
                        <script language="javascript">
                        populateCountries("countryCreate", "stateCreate");
                    </script>
                        Address: <br>
                        <input type="text" name="clientAddressInput"><br>
                        Email: <br>
                        <input type="text" name="clientEmailInput"><br>
                        User password: <br>
                        <input type="password" name="clientPasswordInput"><br>
                        Phone Numbers: <br>
                        <textarea name="clientPhoneNumbersInput" id="clientPhoneNumbersInput"></textarea><br>
                        <button type="submit">Save</button>
                    </form>
			</div>
			<div class="tab-pane fade" id="modify" role="tabpanel" aria-labelledby="form-tab">
			    <label>Enter the client new information:</label>
                <ul>
                    Client ID: <br>
                    <input type="text" name="clientIdInput"><br>
                    First Name: <br>
                    <input type="text" name="clientFirstNameInput"><br>
                    Last Name: <br>
                    <input type="text" name="clientLastNameInput"><br>
                    Birth Date: <br>
                    <input type="date" id="birthDateInputId" name="birthDateInput"><br>
                    Nationality: <br>
                    <input type="text" name="clientNationalityInput"><br>
                    Country: <br><br>
                    <select id="countryModify" name ="countryModify"></select> </br></br>
                    State: <br><br> 
                    <select name ="stateModify" id ="stateModify"></select>  </br> </br>
                    <script src="./tools/countriesStates.js"></script>
                    <script language="javascript">
                    populateCountries("countryModify", "stateModify");
                </script>
                    Address: <br>
                    <input type="text" name="clientAddressInput"><br>
                    Email: <br>
                    <input type="text" name="clientEmailInput"><br>
                    User password: <br>
                    <input type="password" name="clientPasswordInput"><br>
                    Phone Numbers: <br>
                    <textarea name="clientPhoneNumbersInput" id="clientPhoneNumbersInput"></textarea><br>
            </ul>
            </div>
            <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="form-tab">
            <label>Enter the clint ID:</label><br>
            <input type="text" name="clientIDInput"> <br>
            <button type="submit">Delete</button><br>
            <label for="deleteActionStatus">Delete Status: N/A</label>
            </div>
            <div class="tab-pane fade" id="consult" role="tabpanel" aria-labelledby="form-tab">
                <label>Enter the client ID:</label>
                <input type="text" id="clientIdInput"><br>
                <table>
                    <tr>ID</tr>
                    <tr>First Name</tr>
                    <tr>Last Name</tr>
                    <tr>Birth Date</tr>
                    <tr>Nationality</tr>
                    <tr>Country</tr>
                    <tr>State</tr>
                    <tr>Address</tr>
                    <tr>Email</tr>
                    <tr>Phone Numbers</tr>
                </table>	
                                
            </div>
			</div>
		</div>
	</div>
</div>
</body>
</html>

